// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "admin/variables";
@import "active_admin/mixins";
@import "admin/mixins/buttons";
@import "admin/mixins/sections";
@import "active_admin/base";
// @import "admin/typography";
@import "admin/vendor/select2.min";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

//  =========================
//  = ActiveAdmin Overrides =
//  =========================

body {
  font-size: $default-font-size;
}

#title_bar h2 {
  font-size: 2em;
}

div.table_actions, td.col-actions {
  a.member_link, a {
    @include small-button;
  }
}

#header {
  position: relative;
  h1 {
    margin: 0;
    padding: 0 10px 0 0;
    img {
      position: relative;
      top: 2px;
      height: 27px;
    }
  }
}

.breadcrumb {
  font-size: 0.8em;
}

table.index_table {
  tr.odd td { background: $table-odd-color; }
  tr.even td { background: $table-even-color; }
}

// --------- Tables inside Panels

.panel_contents table {
  tr.odd td { background: inherit; }
  tr.even td { background: $table-stripe-color; }
}



.table_tools .dropdown_menu_button.disabled {
  opacity: 0.7;
}

.pagination_information {
  color: #d5e0e6;
  b { color: #545b60; }
}

.section, .panel {
  background: $panel-contents-color;
}

//  ================
//  = Custom Rules =
//  ================

#filters_sidebar_section {
  * {
    font-size: $default-font-size * 0.75;
  }
  h3 {
    font-size: $default-font-size;
  }
}

a.default_button, .default_button {
  @include default-button;
  text-decoration: none;
}

a.small_button, .small_button {
  @include small-button;
}

td.col.col-phone {
  width: 80px;
}

th.col.col-actions {
  width: 12.4em;
}

form input.datepicker {
  width: 10em;
}

#donation_special_instructions {
  width: calc(100% - 30px);
  height: 5em;
}

ul.items-list {
  list-style-type: none;
  padding-left: 0;
}

form div.form-indented {
  margin-left: 20%;
}

.hidden {
  display: none;
}

body.update.admin_items {
  select {
    width: 80%;
  }
}

div.form-indented fieldset legend span a {
  color: $section-header-text-color;
  text-decoration: none;
}

body.index.admin_donors {
  .col-num_donations {
    max-width: 7em;
  }
  .col-phone {
    min-width: 7em;
  }
}

body.index.admin_donations {
  .col-actions {
    min-width: 18em;
  }
  .col-phone {
    min-width: 7em;
  }
}

body.index.admin_item_types {
  .col-actions {
    // width: 7em;
  }
}
