// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

a.default_button, .default_button {
  @include default-button;
  text-decoration: none;
}

div.table_actions, td.col-actions {
  a.member_link, a {
    @include default-button;
    font-size: 0.9em;
    line-height: 7px;
    padding: 4px 7px 4px;
  }
}

td.col.col-phone {
  width: 80px;
}

form input[type=date] {
  width: 120px;
}

#donation_special_instructions {
  width: calc(100% - 30px);
  height: 5em;
}

#header {
  position: relative;
  h1 {
    margin: 0;
    padding: 0 10px 0 0;
    img {
      position: relative;
      top: 2px;
      height: 27px;
    }
  }
}